header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .9rem 0;
    font-size: 18px;
    z-index: 3;
    position: relative;

    @media #{$from-medium-device} {
        padding: 1.8rem 0;
    }

    @media #{$to-medium-device} {
        padding: 1.8rem 1rem;
    }

    .me {
        display: inline-grid;
        grid-auto-flow: column dense;
        grid-template-columns: auto;

        a {
            font-family: $l-font;
            font-weight: 800;
            text-decoration: none;

            &:hover {
                color: inherit;
                text-decoration: none;
            }
        }
    }

}