#themeToggle {
  visibility: hidden;
  @at-root {
    label {
      content: "";
      display: inline-block;
      cursor: pointer;
      height: 1.25em;
      width: 1.25em;
      border-radius: 50%;
      transition: all 0.3s ease-in-out;

      &:not(:checked) {
        background-color: gold;
      }
    }
  }
}

#themeToggle:checked + label {
  background-color: transparent;
  box-shadow: inset 6px -5px 0px 0px #fff;
}

.intro-text {
  position: fixed;
  top: 180px;
  font-size: 1.6em;
  font-family: monospace;
}

[class^="text-"] {
  transition: color 0.2s ease-in-ease-out;
}
